<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<nav class="navbar navbar-expand-lg bg-white navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">예매 사이트</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-menu me-auto justify-content-center mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" href="/mov/movie">영화</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">예매내역</a>
        </li>
        <li class="nav-dashboard">
          <a class="nav-link active" aria-current="page" href="#">게시판</a>
        </li>
        <li class="nav-item" id="cart" style="display: none">
          <a class="nav-link active" aria-current="page" href="/users/cart">장바구니</a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" id="login">
            <a class="nav-link active" aria-current="page" href="/login">로그인</a>
          </li>
          <li class="nav-item" id="email" style="display: none">
            <a class="nav-link active" aria-current="page" href="/users/mypage">MyPage</a>
          </li>
          <li class="nav-item" id="logout" style="display: none">
            <a class="nav-link active" aria-current="page" href="/">로그아웃</a>
          </li>
          <li class="nav-item" id="logout_kakao" style="display: none">
            <a class="nav-link active" aria-current="page" href="javascript:kakaoLogout()">카카오 로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- ====================================[ 로그아웃 처리 ]==================================== -->
<script type="module">
  //파이어베이스 콘솔에서 지원하는 Authentification빌드 사용해서 플젝을 진행하고 있다
  //export const app = initializeApp(firebaseConfig)
  //firebase.js에 정의되어 있으므로 import문이 필요함
  import { app } from "/javascripts/firebase.js";
  import { signOut, getAuth, } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-auth.js";
  const auth = getAuth(app);
  console.log(auth);
  //jquery - DOM API - 복잡하고, 가독성 제로 -jquery제공하는 코드로 DOM조작하기 위해 사용함
  //document.getElementById("logout").addEventListener('click', ()=>{})
  //$(..) is not defined 발동 - index.js -> jquery-1.12.0.js import확인 -> jquery('#id')
  $("#logout").on("click", () => {
    //jquery에서 제공되는 문법으로 이벤트 처리중
    auth.signOut();
    // 아래 코드는 location.href = "/" 를 만나면 볼 수 없다. -> 왜냐면 url주소가 바뀌니까
    // 바뀌면 기존에 요청이 끊어지고 새로운 요청이 처리된다.
    signOut(auth)
      .then(() => {
        //콜백함수 실행
        // Sign-out successful.
        console.log("로그아웃 성공 - 구글서버");
      })
      .catch((error) => {
        console.log(error); //로그아웃 실패시 호출 - 로그통해 정보 수집
      });
    localStorage.clear(); //BOM, DOM, firebase-app.js
    //location.href = '/'; //로그아웃이 되면 처음으로 돌아가시오. -> http://localhost:3000/
  });
  /*********************************** 로그인 시 보이는 버튼 설정! ***********************************/
  // 너 로컬스토리지에 이메일 주소 있어?? (있으면 로그인을 한 것)
  console.log(`header - ${localStorage.getItem("email")}`);
  if (localStorage.getItem("email")) {
    // toggle 함수 -> 보이는건 안보이게, 안보이는건 보이게
    $("#login, #logout, #email, #cart").toggle();
    $("#email a").html(localStorage.getItem("email"));
  }
  if (localStorage.getItem("id")) {
    // toggle 함수 -> 보이는건 안보이게, 안보이는건 보이게
    $("#login, #logout_kakao, #email, #cart").toggle();
    $("#email a").html(localStorage.getItem("id"));
  }
  /*********************************** 로그인 시 보이는 버튼 설정! ***********************************/
</script>
<!-- ====================================[ 로그아웃 처리 ]==================================== -->

<!-- ====================================[ 카카오 로그아웃 처리 ]==================================== -->
<script>
  Kakao.init('ee0296fe27ba44244f593cf76b52aa84'); //발급받은 키 중 javascript키를 사용해준다.
  console.log(Kakao.isInitialized()); // sdk초기화여부판단
    function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function (response) {
        console.log(response)
        localStorage.clear();
        location.href = '/';
        },
        fail: function (error) {
          console.log(error)
        },
      })
      Kakao.Auth.setAccessToken(undefined)
      
    }
  }
  </script>
<!-- ====================================[ 카카오 로그아웃 처리 ]==================================== -->

<!-- ====================================[ 캐러셀 이벤트 처리 ]==================================== -->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" >
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/images/sample1.jpg" class="img-responsive center-block w-50" alt="이벤트 샘플1">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/images/sample1.jpg" class="img-responsive center-block w-50" alt="이벤트 샘플2">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/sample1.jpg" class="img-responsive center-block w-50" alt="이벤트 샘플3">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- ====================================[ 캐러셀 이벤트 처리 ]==================================== -->
