
<hr />
<!-- 현재 상영중인 영화 출력할 공간 마련하기 -->
<div class="row" id="list_movie"></div>
<!-- 현재 상영중인 영화 출력할 공간 마련하기 -->
<!-- list_movie안에 들어갈 템플릿 작성하기 -->
<script id="temp_movie" type="text/x-handlebars-template">
  {{#each documents}}
    <div class="col-6 col-md-4 col-lg-2">
      <div class="card my-2">
        <div class="card-body">
          <img
            src="{{Poster}}"
            index="{{@index}}"
            alt="영화이미지"
            style="cursor: pointer; width: 80%; "
          />
          <div class="mt-2">
            {{Title}}
          </div>
        </div>
        <div class="card-footer" style="font-size: 0.7rem;">
          <div class="text-center">
            {{Year}}
            <span
              class="cart ms-3"
              style="cursor: pointer; color: green;"
            >CART</span>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</script>

<div class="text-center mt-2">
  <button class="btn btn-primary btn-sm px-5" id="prev">이전</button>
  <span id="page" class="px-3">1/10</span>
  <button class="btn btn-primary btn-sm px-5" id="next">다음</button>
</div>

<script>
  let page = 1;

  $("#next").on("click", () => {
    page++;
    movieList();
  });
  // 이전 버튼을 눌렀을 때 - page 를 1씩 감소
  $("#prev").on("click", () => {
    page--;
    movieList();
  });
  // 영화 이미지를 클릭했을 때 영화 식별자 가져오기
  $("#list_movie").on("click", ".card img", () => {
    // 아래 this는 누구인가요? - <img index=1>
    let index = $(this).attr("index");
    console.log(`사용자가 선택한 이미지의 index값은 ${index}`);
  });
const movieList = () => {
return new Promise((resolve, reject) => {
  fetch(`http://www.omdbapi.com/?apikey=808c450&s=guy&page=${page}`)
          .then(async response => {
              const data = await response.json();
              console.log(data);
              console.log(data.Search);
              const temp = Handlebars.compile($("#temp_movie").html());
      $("#list_movie").html(temp({ documents: data.Search }));

      // 너 마지막 페이지야?
      let total_pages = data.total_pages;
      console.log(`너 마지막 페이지야? ${page}/${total_pages}`);
      let total = data.totalResults;
      console.log(`검색결과의 총 레코드 수: ${total}`);

      let last = Math.ceil(total / 10);
      if (last <= 0) $("#page").html(`<font color="red">0</font>/${last}`);
      else $("#page").html(`<font color="green">${page}</font>/${last}`);

      if (page === 1) $("#prev").attr("disabled", true);
      else $("#prev").attr("disabled", false);

      if (page === total_pages) $("#next").attr("disabled", true);
      else $("#next").attr("disabled", false);
            })
            .catch(error => console.log('error', error));
          });
        
      }
  movieList();

</script>